<nav>
  <ul>
    <li>
      <a title="About Scriptish" rel="about" href="/about.html">About</a>
    </li>
    <li>
      <a title="Scriptish Screenshots"
         rel="screenshots"
         href="/screenshots">Screenshots</a>
    </li>
    <li>
      <a title="Scriptish Blog" rel="blog" href="/blog">Blog</a>
    </li>
    <li>
      <a title="Scriptish Source Code"
         rel="external"
         href="https://github.com/scriptish/scriptish/">Source code</a>
    </li>
    <li>
      <a title="Scriptish Wiki"
         rel="external"
         href="https://github.com/scriptish/scriptish/wiki">Wiki</a>
    </li>
    <li>
      <a title="Scriptish Forum"
         rel="external nofollow"
         href="http://groups.google.com/group/scriptish">Forum</a>
    </li>
  </ul>
</nav>
