html {
  width: 100%;
  color: black;
  background: white;
}
body {
  padding:0;
  margin:0;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}

header, footer > section{
  width:800px;
  margin:0 auto;
  display:block;
}

header{
  margin-top: 20px;
}

footer > section{
  border-top:solid 2px #CCC;
  padding-top:5px;
  font-family: Verdana;
  font-size: 0.8em;
  text-align:center;
}

footer{
  width:100%;
  height:200px;
  margin:0 auto;
  padding:10px 0;
  display:block;
}

nav{
  margin:30px 0 0 0;
  border-bottom:solid 2px #CCC;
  padding-bottom:5px;
}

nav > ul{
  list-style-type:none;
  margin:0 auto;
  width: 800px;
  -webkit-padding-start:0 !important;
  -moz-padding-start:0 !important;
}

nav > ul > li{
  display:inline;
  margin-right:20px;
}

#logo{
  display:block;
  color: #33aa33;
  padding:0 0 0 80px;
  background: transparent url('../../images/scriptish64.png') no-repeat left center;
  font-family: 'Dancing Script', serif;
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  text-shadow: 8px 8px 8px #ddd;
  text-decoration: none;
  text-transform: none;
  letter-spacing: 0.15em;
}

#forkme{
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 1.2ex;
  width: 300px;
  font: bold 10pt 'Helvetiva Neue', Helvetica, Arial, sans-serif;
  text-decoration: none;
  text-align: center;
  background: rgb(51, 170, 51);
  background: -moz-linear-gradient(
    rgb(0,100,0),
    rgba(0,255,0,0) 7%,
    rgb(30,140,30) 10%,
    rgb(51, 170, 51) 50%,
    rgb(30,140,30) 90%,
    rgba(51,170,51, 0) 93%,
    rgb(0, 100, 0) 100%
    );
  background: -webkit-linear-gradient(
    rgb(0,100,0),
    rgba(0,255,0,0) 7%,
    rgb(30,140,30) 10%,
    rgb(51, 170, 51) 50%,
    rgb(30,140,30) 90%,
    rgba(51,170,51, 0) 93%,
    rgb(0, 100, 0) 100%
    );
  background: -o-linear-gradient(
    rgb(0,100,0),
    rgba(0,255,0,0) 7%,
    rgb(30,140,30) 10%,
    rgb(51, 170, 51) 50%,
    rgb(30,140,30) 90%,
    rgba(51,170,51, 0) 93%,
    rgb(0, 100, 0) 100%
    );
  background: linear-gradient(
    rgb(0,100,0),
    rgba(0,255,0,0) 7%,
    rgb(30,140,30) 10%,
    rgb(51, 170, 51) 50%,
    rgb(30,140,30) 90%,
    rgba(51,170,51, 0) 93%,
    rgb(0, 100, 0) 100%
    );
  color: white;
  -moz-transform: translate(60px, -80px) rotate(-45deg);
  -webkit-transform: translate(60px, -80px) rotate(-45deg);
  -o-transform: translate(60px, -80px) rotate(-45deg);
  -ms-transform: translate(60px, -80px) rotate(-45deg);
  transform: translate(60px, -80px) rotate(-45deg);
}
