html {
  height: 100%;
  color: black;
  padding: 0;
  margin: 0;
  background: rgb(30,110,30);
}
body {
  font-family: sans-serif;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  padding-left: 3em;
  padding-right: 3em;
  min-height: 100%;
  width: 80%;
  max-width: 800px;
  background: white;
  box-shadow: 0 0 10px black;
}

header, footer {
  margin:0 auto;
  display:block;
}

header {
  padding-top: 2em;
}

footer {
  margin-top: 2ex;
  padding-top: 1ex;
  font-family: Verdana, sans-serif;
  font-size: 0.8em;
  text-align:center;
  border-top: 1px dotted rgb(51,171,51);
}

footer{
  margin:0 auto;
  padding:10px 0;
  display:block;
}

nav{
  margin-top: 2ex;
  margin-bottom:3ex;
  padding-bottom:1ex;
  font-weight: bold;
  border-bottom: 1px dotted rgb(51,171,51);
}

nav > ul{
  list-style-type:none;
  margin:0 auto;
  -webkit-padding-start:0 !important;
  -moz-padding-start:0 !important;
}

nav > ul > li{
  display:inline;
  margin-right:20px;
}
nav a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  color: rgb(51,170,51);
}

a {
  color: rgb(30,110,30);
}
a:hover {
  color: rgb(51,170,51);
}
a.minor {
  color: darkgray;
}

#logo{
  display:block;
  color: #33aa33;
  padding:0 0 0 80px;
  background: transparent url('../../images/scriptish64.png') no-repeat left center;
  font-family: 'Dancing Script', serif;
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  text-shadow: 8px 8px 8px #ddd;
  text-decoration: none;
  text-transform: none;
  letter-spacing: 0.15em;
  max-width: 500px;
  height: 85px;
}

#install {
  float: right;
  position: relative;
  top: -65px;
}

.install, 
.install * {
  text-decoration: none;
  color: white !important;
  text-align: center;
  font-weight: bold;
  text-shadow: 2px 2px 2px rgb(30,50,30);
}

.install {
  display: block;
  max-width: 200px;

  margin: 0;
  padding: 1em;

  border: 1px solid rgb(30,50,30);
  background: rgb(80,160,50);
  background: -moz-linear-gradient(top, rgb(80,160,50) 20%, rgb(60,198,20) 100%);
  background: -webkit-linear-gradient(top, rgb(80,160,50) 20%, rgb(60,198,20) 100%);
  background: -o-linear-gradient(top, rgb(80,160,50) 20%, rgb(60,198,20) 100%);
  background: linear-gradient(top, rgb(80,160,50) 20%, rgb(60,198,20) 100%);
  border-radius: 10px;
}
.install:hover {
  background: rgb(100,190,70);
  background: -moz-linear-gradient(top, rgb(100,190,60) 20%, rgb(100,228,20) 100%);
  background: -webkit-linear-gradient(top, rgb(100,190,60) 20%, rgb(100,228,20) 100%);
  background: -o-linear-gradient(top, rgb(100,190,60) 20%, rgb(100,228,20) 100%);
  background: linear-gradient(top, rgb(100,190,60) 20%, rgb(100,228,20) 100%);
}
.install > span{
  display: block;
  font-size: 0.6em;
}

.posts span {
  font-size: small;
}

.posts span:after {
  padding-left: 0.5ex;
  padding-right: 1ex;
  content: '»';
}

#forkme{
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 1.2ex;
  width: 300px;
  font: bold 10pt 'Helvetiva Neue', Helvetica, Arial, sans-serif;
  text-decoration: none;
  text-align: center;
  background: rgb(51, 51, 51);
  border: 2px solid black;
  background: -moz-linear-gradient(
    white,
    rgb(30,30,30) 4%,
    rgb(51,51,51) 50%,
    rgb(30,30,30) 94%,
    white 100%
    );
  background: -webkit-linear-gradient(
    white,
    rgb(30,30,30) 4%,
    rgb(51,51,51) 50%,
    rgb(30,30,30) 94%,
    white 100%
    );
  background: -o-linear-gradient(
    white,
    rgb(30,30,30) 4%,
    rgb(51,51,51) 50%,
    rgb(30,30,30) 94%,
    white 100%
    );
  background: linear-gradient(
    white,
    rgb(30,30,30) 4%,
    rgb(51,51,51) 50%,
    rgb(30,30,30) 94%,
    white 100%
    );
  color: white;
  -moz-transform: translate(60px, -80px) rotate(-45deg);
  -webkit-transform: translate(60px, -80px) rotate(-45deg);
  -o-transform: translate(60px, -80px) rotate(-45deg);
  -ms-transform: translate(60px, -80px) rotate(-45deg);
  transform: translate(60px, -80px) rotate(-45deg);
}
