<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="shortcut icon" href="/favicon.ico"/>
    {% if page.shorturl %}<link rel="shorturl shortlink" rev="canonical" href="{{ page.shorturl }}"/>{% endif %}
    <title>{{ page.title }}</title>
    <link media="screen" rel="stylesheet" type="text/css" href="/cssjs/layout/main.css"/>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Dancing+Script:regular,bold&v1"/>
    <link rel="alternate" type="application/atom+xml" title="The Scriptish Blog" href="http://feeds.feedburner.com/scriptishorg"/>
  </head>
  <body>
    <header>
      <a id="logo" title="Scriptish" rel="home" href="/index.html">Scriptish</a>
      {% if page.title != 'Install Scriptish' %}
      <a id="install" class="install" title="Install Scriptish" rel="install download" href="/downloads">
        Install Scriptish
        <span>Free and Open Source</span>
      </a>
      {% endif %}
      <nav>
        <ul>
          <li>
            <a title="About Scriptish" rel="about" href="/about.html">About</a>
          </li>
          <li>
            <a title="Scriptish Blog" href="/blog.html">Blog</a>
          </li>
          <li>
            <a title="Scriptish Source Code"
               rel="external"
               href="https://github.com/erikvold/scriptish/">Source code</a>
          </li>
          <li>
            <a title="Scriptish Wiki"
               rel="external"
               href="https://github.com/erikvold/scriptish/wiki">Wiki</a>
          </li>
          <li>
            <a title="Scriptish Forum"
               rel="external nofollow"
               href="http://groups.google.com/group/scriptish">Forum</a>
          </li>
        </ul>
      </nav>
    </header>
    <article>
      <h1>{{ page.title }}</h1>
      {% if page.author and page.author.website %}
        <p class="byline">By <a title="{{ page.author.name }}" rel="external nofollow" href="{{ page.author.website }}">{{ page.author.name }}</a></p>
      {% elsif page.author.website %}
        <p class="byline">By {{ page.author.name }}</p>
      {% endif %}
      {{ content }}
    </article>
    <footer>
      <section>
        <a title="License" rel="nofollow" href="/license.html">All content is public domain.</a>
        Hosting by <a title="Github" rel="host external nofollow" target="_blank" href="http://github.com/">Github</a>.
        <a id="forkme" title="Fork me on GitHub" rel="external nofollow" href="https://github.com/erikvold/scriptish/">Fork me on Github</a>
      </section>
    </footer>
    {% include ga.html %}
  </body>
</html>
